<!DOCTYPE html>
<html ng-app="fetchApp">
<head>
	<title>OMG</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="../app.js"></script>
</head>
<body ng-controller="MainController">
<div class="row">
<div class="one-third column"></div>
<div class="one-third column">
 <form action="" method="" class="">
  <fieldset>
    <legend>{{message}}</legend>
    <input type="text" ng-model="url"/>
    <select name="select">
	  <option value="GET">GET</option> 
	  <option value="POST" selected>POST</option>
	  <option value="OPTIONS">OPTIONS</option>
	  <option value="HEAD">HEAD</option>
	</select>
	</br>
    <button type="button" class="button-primary" ng-click="fetch()">FETCH</button>
  </fieldset>
</form>
<ul>
	<li ng-repeat="response in responses">{{response.statusCode}}</li>
</ul>
</div>
<div class="one-third column"></div>
</div>
</body>
</html>